<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alert | Channel Expert</title>

    <link rel="icon shortcut" type="image/png" href="/images/camera-dark-icon.png">    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="/styles/alert.css">

</head>
<body>
    <div class="card">
        <div class="head">
            <p>Alert</p>
        </div>
        <div class="msg">
            <p>{{msg1}}</p>
            <p class="email">{{email}}</p>
            <p>{{msg2}}</p>
        </div>
        <div class="icon">
            <p><i class="fas fa-exclamation"></i></p>
        </div>
        <div class="link">
            <p>To know more about the application, you may visit our website by going to the following link</p>
            <a href="https://youtube-assistant.herokuapp.com/" target="_blank">Visit Website</a>
        </div>
        <div class="dev">
            <p>contact the developer: <span> Shivam Sharma </span></p>
            <p> <a href="https://www.linkedin.com/in/infectednode/" target="_blank"><i class="fab fa-linkedin-in"></i></a> <a href="https://github.com/Shivamdot" target="_blank"><i class="fab fa-github"></i></a> <a href="https://www.instagram.com/shivamdotcom/" target="_blank"><i class="fab fa-instagram"></i></a></p>
        </div>
    </div>
</body>
</html>