<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email Response | Channel Expert</title>


</head>

<body style="background-color: #efecee; background-image: url('https://youtube-assistant.herokuapp.com/images/email.jpg'); background-position: center; background-size: cover; margin: 0; padding: 0; text-align: center;">
  <style></style>
  <header style="background-color: #494a49; display: inline-block; height: 100px; margin-bottom: 30px; width: 100%;"></header>
  <div class="container" style="display: inline-block; margin: 0; max-width: 600px; overflow: hidden; padding: 0; width: 100%;">
    <section class="main" style="background-color: #fff; border-radius: 5px; display: inline-block; margin: 0; overflow: hidden; padding: 10px; text-align: center; width: 80%;">
      <h1 style="color: #494a49; font-family: 'Alegreya Sans SC', sans-serif; font-size: 40px; margin: 0; padding: 20px 10px;">YouTube Access Link</h1>
      <p style="color: #494a49; font-family: 'Alegreya Sans SC', sans-serif; font-size: 20px; margin: 0; margin-bottom: 30px; padding: 10px;">I am excited to get you started. First, you need to get authorised from YouTube. Just press the button below. </p>
      <a class="access" href={{url}} target="_blank" style="background-color: #494a49; border-radius: 5px; color: #efecee; display: inline-block; font-family: 'Alegreya Sans SC', sans-serif; font-size: 20px; margin: 0; margin-bottom: 10px; padding: 6px 12px; text-decoration: none;">Get Access</a>
    </section>
    <section class="logo" style="display: inline-block; margin: 50px 0; margin-bottom: 20px; overflow: hidden; padding: 0; text-align: center; width: 100%;">
      <img src="https://youtube-assistant.herokuapp.com/images/camera-dark.png" alt="camera-dark" style="height: 110px; margin: 0; padding: 0; width: 150px;">
      <h4 style="color: #494a49; font-family: 'Alegreya Sans SC', sans-serif; font-size: 20px; font-weight: 400; margin: 0; padding: 0; text-shadow: 0 2px 3px rgba(0,0,0,.4);">My YouTuber Channel</h4>
      <h6 style="color: #494a49; font-family: 'Alegreya Sans SC', sans-serif; font-size: 10px; font-weight: 400; letter-spacing: 2px; margin: 0; margin-top: 6px; opacity: .8; padding: 0; text-shadow: 0 2px 3px rgba(0,0,0,.2);">Your Youtube Assistant</h6>
    </section>
    <section class="footer" style="display: inline-block; margin-bottom: 20px; overflow: hidden; text-align: center; width: 100%;">
      <div class="seperator" style="background-color: #494a49; border-radius: 5px; display: inline-block; height: 3px; width: 10%;"></div>
      <p style="color: #494a49; font-family: 'Alegreya Sans SC', sans-serif; font-size: 15px; padding: 10px;">You are receiving this email because you have created an account with <span style="color: #000;">Channel-Expert</span>, a Google Assistant App and have to get access from YouTube <span style="color: #000;"> in order to continue. </span></p>
      <a href="https://youtube-assistant.herokuapp.com" target="_blank" style="color: #494a49; font-size: 15px;">Unsubscribe</a>
    </section>
  </div>

</body>

</html>